lang en_US
keyboard us
timezone Europe/Sofia --isUtc
rootpw $1$D2D1qpdA$m97QDf5sV20vppOm9VTcE/ --iscrypted
#platform x86, AMD64, or Intel EM64T
reboot
cdrom
bootloader --location=mbr --append="rhgb quiet crashkernel=auto"
zerombr
clearpart --all --initlabel
autopart
auth --passalgo=sha512 --useshadow
selinux --permissive
firewall --disabled
skipx
firstboot --disable
%packages
@standard
python36
%end
%post --interpreter=/bin/bash
systemctl enable sshd
systemctl start sshd
ln -s /usr/bin/python3 /usr/bin/python
%end